
.hero-image {
    background-image: url(Heavens_Gate_and_The_Pink_Panther);
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
}